<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.josan.proyecto">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="Acceder"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Registro"
            android:label="Nuevo Usuario"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Recordar"
            android:label="Acceder"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".Dif_partida"
            android:label="Dificultad"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login" />
        </activity>
        <activity
            android:name=".Partida"
            android:label="Partida"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dif_partida" />
        </activity>
        <activity
            android:name=".ubicacionP"
            android:label="Ubicación"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Partida" />
        </activity>

    </application>

</manifest>